.horizontal-boxes{
    width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  transform:rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}
.horizontal-boxes > div{
    width: 100px;
    height: 100px;
    background-color: #666;
    transform: rotate(90deg);
  transform-origin: right top;
}

